<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">            

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Taimour Afzal. It uses data from weatherstack and mapbox</p>
        <img class="portrait" src="/img/taimour.jpg">
    </div>
    {{>footer}}
</body>

</html>